<template name="filterIndexItemBottomLabels">
    <div class="{{this.gridSize}} collapseButton resultItemHeaderBottomAreaLabels {{#if gotNavigationFeature "filter" true}}enabled{{/if}}">
        {{> cardsetLabels}}
        {{#if isCardsetTranscriptBonusRoute}}
            {{> filterIndexItemBottomAboutThisRating}}
        {{/if}}
        {{#if isMyBonusTranscriptsRoute}}
            {{> filterIndexItemBottomAboutThisRating}}
        {{/if}}
    </div>
</template>
