<template name="filterIndexItemTopTopic">
    <div class="resultItemHeader {{this.gridSize}} collapseButton {{getCardsetBackground this.difficulty
                                                                                         this.cardType}}">
        <a rel="noopener noreferrer"   href="#" id="cardsetLink{{this.index}}"
           class="col-xs-12 resultName" data-id="{{this._id}}">
            {{#if isBonusTranscriptsRoute}}
                {{getBonusLectureName}}
            {{else}}
                {{#if isTranscriptRoute}}
                    {{this.subject}}
                {{else}}
                    {{this.name}}
                {{/if}}
            {{/if}}
        </a>
    </div>
</template>
