<template name="impressumLearningHeadingEN">
    <h1>How to learn effectively with cards on 🍅cards</h1>
</template>

<template name="impressumLearningContentEN">
    <p>
        On 🍅cards you can download the study cards and notes of a set of cards in different ways and in
        different formats.
        melody
        to learn:
    </p>
    <ul>
        <li>
            according to the 5-subject learning method by Sebastian Leitner
        </li>
        <li>
            according to the SuperMemo learning method of Piotr Wo? niak
        </li>
        <li>
            according to the difficulty of the matter:
            General, Beginners, Advanced, Expert
        </li>
        <li>
            according to the learning objectives of the maps (<a rel="noopener noreferrer"
                href="https://thesecondprinciple.com/teaching-essentials/beyond-bloom-cognitive-taxonomy-revised/"
                target="_blank">Taxonomie of Anderson et al.</a>):<br/>
            Remember, Understand, Apply, Analyze, Evaluate, Create
        </li>
        <li>
            in alphabetical order of the map titles
        </li>
        <li>
            in random order
        </li>
    </ul>
    <p>
        The first two methods are the most effective in the sense of long-term memory, see the
        scientific studies, cited in our <a rel="noopener noreferrer"   href="{{pathFor route='about'}}">Paper</a>.
        The methods are based on the <strong> principle of distributed learning</strong> , i. e. learning in several
        ways
        Time periods.
        In contrast, bulimia learning, which is widespread among students but is ineffective, only takes
        place once a year.
        in
        of the week before the exam.
    </p>
    <p>
        <strong> Leitner's 5-subject learning method</strong>  places cards that have already been learned in certain
        longer periods of time.
        expect
        distances for repeated learning.
        Cards that are not remembered will be placed in the first compartment.
        In this way, difficult flashcards are repeated more often than simple flashcards.
        The intervals between subjects are usually: daily (1?2) and weekly (2?3),
        once a month
        (3?4) and quarterly (4?5) - compare with the forgetting curves in this <a rel="noopener noreferrer"
            href="{{pathFor route='about'}}">picture</a>.
        Cards in the last compartment are regarded as permanently learned. The maximum daily number of cards
        to learn
        is given by the teacher.
    </p>
    <a rel="noopener noreferrer"   href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Leitner_system_alternative_no_text.svg/1000px-Leitner_system_alternative_no_text.svg.png"
       data-lightbox="img-1" data-title="Leitner-Lernmethode">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Leitner_system_alternative_no_text.svg/1000px-Leitner_system_alternative_no_text.svg.png"
             alt="Leitner-Lernmethode" class="img-responsive center-block"/>
    </a>
    <p class="text-center">
        Picture source: <a rel="noopener noreferrer"   href="https://de.wikipedia.org/wiki/Lernkartei" target="_blank">Wikipedia:
        &raquo;Flash card&laquo;</a> — At the beginning all cards are in box 1.
    </p>
    <p>
        With the <strong> SuperMemo learning method from Woźniak</strong> , the distances are calculated according to
        your assessment,
        as
        mild
        or hard to remember the answer, individually new according to the <a rel="noopener noreferrer"
            href="https://www.supermemo.com/english/ol/sm2.htm" target="_blank">SM-2 algorithm</a>
        is calculated. You compare your answer with the answer on the back of the card and rate it
        she
        up
        of a 6-stage scale of &raquo;Blackout&laquo;, &raquo;Wrong answer, but reminiscent of the right one&laquo;,
        &raquo;Wrong one
        Answer, but
        slightly reminds me of the right answer (after all, yes!)&laquo;, &raquo;Correct answer after a long
        time of
        deliberation&laquo;, &raquo;Right answer after a long period of reflection&laquo;,
        &laquo;Right Answer after
        short hesitation&laquo; to &raquo;Immediately and correctly&laquo;. Based on your rating, the time
        will be set for the
        next
        Repeating the flashcard
        is calculated.
    </p>
</template>
